{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container ">

            <div class="card mb-3 mt-3" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if object.photo %}
                            <img src="{{object.photo.url}}" class="card-img" alt="{{ object.title }}">
                        {% else %}
                            <img src="{% static 'img/not.png' %}" class="card-img" alt="{{ object.title }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{object.title}}</h5>
                            <p class="card-text">{{object.content}}</p>
                            <a href="#" class="buttom-blue">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
         
    </div>
{% endblock %}
