{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
		<!-- Скидки и акции -->
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12 ">
							<h2>СКИДКИ И АКЦИИ</h2>
							<img class="float-left mt-2" src="{% static '/img/check.png' %}" width="15px" height="74px" alt="tick">
							<ul class="ml-3">
                                {% for item in home %}
								<li class="ml-3 content-discount">{{ item.title }}</li>
                                {% endfor %}
							</ul>
						</div>
						<div class="col-md-12">
							<div class="card-deck mt-4">
                                {% for item in discounts %}
								<div class="card stock pb-4">
								  <div class="card-body">
                                      <h3 class="card-title">{{ item.title|safe }}</h3>
									<p class="card-text">{{ item.content|safe }}</p>
									<a href="#" class="buttom-blue">Подробнее</a>
								  </div>
								</div>
                                {% endfor %}
                            </div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<form action="#" method="post" class="forms">
						<p>Записаться на прием</p>
						<label >
							Выберите врача
							<br>
							<select name="theme">
								<option value="light">Светлая тема</option>
								<option value="dark">Тёмная тема</option>
							</select>
						</label>
						<br>
						<div class="date">
						<label>
							Дата визита:
							<br>
							<input type="date" name="data">
						</label>
						</div>
						 <div class="time">
						<label>

							Время:
							<br>
							<input type="time" name="time">
						</label>
						</div>
						<br>
						<label>
							Ваше имя:
							<br>
							<input type="text" name="name">
						</label>
						<br>
						<label>
							Ваш Телефон:<br>
							<input type="tel" name="tel" pattern="[8]{1}-[0-9]{3}-[0-9]{3}">
						</label>
						<br>
						<input type="button" name="button" value="Отправить" class="buttom">
					</form>

				</div>
			</div>
		</div>
		<!-- Врачи -->
		<div class="container mt-5">
			<div class="card-deck">
                {% for item in doctor %}
				<div class="card pb-4 ">
                  {% if item.photo %}
				  <img class="card-img-top doctor" src="{{ item.photo.url }}" alt="Card image">
                  {% endif %}
				  <div class="card-body">
					<h3 class="card-title">{{ item.title }}</h3>
					<p class="card-text">{{ item.content|truncatechars_html:200 }}</p>
				  </div>
				  <a href="#" class="buttom-blue">Подробнее</a>
				</div>
                {% endfor %}

			</div>

		</div>
		<!--Информация-->

			<div class="container mt-5">
				<div class="card-deck">
					<div class="card pb-4">
					  <div class="card-body">
						<h3 class="card-title">Название карточки</h3>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer dhakshhdhhlja naskcajasjj.</p>
					  </div>
					  <a href="#" class="buttom-blue">Подробнее</a>
					</div>
					<div class="card">
					  <div class="card-body">
						<h3 class="card-title">Название карточки</h3>
						<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					  </div>
					  <a href="#" class="buttom-blue">Подробнее</a>
					</div>
				</div>
			</div>
	</main>
{% endblock %}